@font-face {
    font-family: 'zabras';
    src: url('fonts/zabars.ttf') format('truetype'),
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/10_screenPictures/dessert.jpg');
}

body > img {
    margin-top: 100px;
    margin-bottom: 20px;
}

button{
    height: 50px;
    width: 80px;
    background-color: #ffb710;
    border-radius: 8px;
    font-size: large;
    color: beige;
    border:  2px solid white;
}

button:hover{
   
background-color: #f8c568;

}



h1 {
    color: #ffb710;
}

.start-img {
    width: 720px;
    height: 480px;
}

canvas {
    background-color: black;
    display: block;
}

.play-info {
    background-color: #ffb710;
    display: flex;
    width: 720px;
    align-items: center;
    justify-content: space-evenly;
}

.play-info p {
    font-size: 16px;
}

.move-info {
    display: flex;
    justify-content: space-evenly;
    width: 110px;
    color: beige;
    
}

.move-button {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    text-decoration: underline;
}

.game-over-img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 760px) {
    canvas {
        width: 100vh;
    }

    .play-info {
        width: 100vh;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    .play-info {
        height: 100vh;
    }
}

@media only screen and (max-width: 760px) {
    canvas {
        width: 100%;
    }

    .play-info {
        width: 100%;
    }
}

